__pycache__/
*.pyc
pytest_cache/
tests/examples1.csv
tests/examples2.csv
tests/examples3.csv
tests/pubchem_сid_for_competitors_new5.csv
tests/pubchem_сid_for_competitors_new3.csv
tests/pubchem_сid_for_competitors_new.xlsx
tests/pubchem_сid_for_competitors_new.csv
tests/pubchem_vid_for_competitors.csv
tests/pubchem_сid_for_competitors_new1.csv
tests/pubchem_сid_for_competitors_new4.csv
